*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    /* height: 250px; */
    width: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.outer{
    width: 100%;
    /* padding: 10px; */

    height: 20px;
    background-color: grey;
    border-radius: 50px;
}
.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}
section p{
    font-size: 22px;
    font-weight: 400;

    margin-bottom: 20px;
}
section p span{
    color: royalblue;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}
h3{
    font-size: 30px;
}
button{
    padding: 10px 20px ;
    background-color: royalblue;
    color: white;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 20px;
cursor: pointer;
}
button:active{
    scale: 0.95;
}