*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
img{
    height: 30px;
    position: fixed;
    transform: translate(-50%,-50%);
}
h2{
    /* text-align: center; */
    font-size: 60px;
    background-color: gray;
    /* padding: 10px 20px; */
    padding-top: 10px;
    padding-left:  30px;
    padding-right: 30px;
    border-radius: 10px;
}