*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#box{
    height: 400px;
    width: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    border-radius: 10px;
}
h1{
    font-size: 35px;
    font-weight: 900;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: aqua;
}
p{
    font-size: 20px;
    font-weight: 500;
}
h5{
    font-size: 20px;
    font-weight: 500;
}
h6{
    font-size: 20px;
    font-weight: 500;
}
section{
    height: 100vh;
    /* width: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
button{
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
}
