*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
section{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 10px 22px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 9;

}
button:active{
    scale: 0.95;
}